h1, h2, h3, h4 { font-family: Georgia, Helvetica, serif; }

#header, #menu {
  height: 112px;
  padding-top: 20px;
	border-bottom: 1px solid #DDD;
}

#header {
  text-align: center;
  width: 390px;
  float: left;
  margin-right: 10;
}

#header h1 {
  letter-spacing: -2px;
}


#header h2 {
  height: 60px;
  background: url(/images/pointer.gif) no-repeat;
  background-position: 230px 27px;
}

#header h2 em {
  color: #EE5D26;
  text-decoration: underline;
  padding-bottom: 10px;
}

#menu {
  width: 550px;
  float: left;
  margin-right: 0;
}

#menu li a {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: black;  
}

#menu li a:hover {
  /*#DD6800*/
  background-color: #EE5D26;
  color: white;
}

#menu li.selected a {
  color: #EE5D26;
  font-weight: bold;
}

#menu li.selected a:hover {
  color: white;
  font-weight: bold;
}


#menu ul {
  list-style: none;
  text-align: left;
}

#menu li {
  margin: 2px;
  display: inline;
}

#menu span {
  display: none;
}

#menu #title-space { 
  margin-left: 20px;
  padding-left: 10px;
  font-size: 20px;
  background-color: #FBB019;
  color: black;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  width: 460px;
}

#main {
  float: left;
  width: 950px;
  margin-right: 0;
  padding-top: 20px;
  font-size: 150%;
	text-align: justify;
}

#main a {
  color: #DD6800;
}

#main a:hover {
  background-color: #FBB019;
  color: black;
}

#main .mask {
  position: relative;
  overflow: hidden;
}

#main .scroll {
  position: absolute;
  left: 0;
  top: 0;
}

#main .scroll div {
  width: 950px;
  float: left;
}

#main #portfolio h3 {
  margin-left: 40px;
}

#main #portfolio ul {
  list-style: none;
}

#main #portfolio ul li {
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0 0 5px #888;
  margin: 15px;
}

#main #portfolio p span {
  font-weight: bold;
}

#main #portfolio #noomii h4 a {
  display: block;
  text-indent: -8000px;
  background: url(/images/noomii.png) no-repeat;
  width: 150px;
  height: 45px;
}

#main #portfolio #sugarstats h4 a {
  display: block;
  text-indent: -8000px;
  background: url(/images/sugarstats.gif) no-repeat;
  width: 284px;
  height: 57px;
}

#main #portfolio #musiqbase h4 {
  text-indent: -8000px;
  background: url(/images/musiqbase.gif) no-repeat;
  width: 234px;
  height: 71px;
}

#main #portfolio #greenwala h4 a {
  display: block;
  text-indent: -8000px;
  background: url(/images/greenwala.gif) no-repeat;
  width: 249px;
  height: 58px;
}

#main #portfolio #weedingbook h4 a {
  display: block;
  text-indent: -8000px;
  background: url(/images/weedingbook.jpg) no-repeat;
  width: 400px;
  height: 79px;
}

#main #portfolio #ibridge h4 a {
  display: block;
  text-indent: -8000px;
  background: url(/images/ibridge.gif) no-repeat;
  width: 180px;
  height: 88px;
}


#main #contact ul {
	list-style: none;
}


#main #contact li.first {
	border-top: 0px;
}

#main #contact li {
	border-top: 2px dashed #DDD;
	padding: 5px 8px;
	position: relative;
	margin-bottom: 2px;
}

#main #contact li h4 {
	display: inline;
}

#main #contact a, #main #contact span {
	position: absolute;
	left: 200px;
}
